* {
    box-sizing: border-box;
    font-family: Roboto;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

$mdc-theme-primary: #356859;
$mdc-theme-secondary: #FD5523;
$mdc-theme-background: #FFFBE6;
$mdc-theme-surface: #B9E4C9;
$mdc-theme-on-primary: #000000;
$mdc-theme-on-secondary: #442b2d;
$mdc-theme-on-background: #000000;
$mdc-theme-on-surface: #000000;

@import "@material/typography/mdc-typography";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";

#logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $mdc-theme-primary;
    font-weight: bold;
}

#main-tab {
    display: flex;
    justify-content: center;
}