* {
    box-sizing: border-box;
    font-family: Roboto;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

$mdc-theme-primary: #356859;
$mdc-theme-secondary: #FD5523;
// $mdc-theme-background: #FFFBE6;
$mdc-theme-background: #fff;
$mdc-theme-surface: #B9E4C9;
$mdc-theme-on-primary: #000000;
$mdc-theme-on-secondary: #442b2d;
$mdc-theme-on-background: #000000;
$mdc-theme-on-surface: #000000;

@import "@material/typography/mdc-typography";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/textfield/mdc-text-field";
@import "@material/card/mdc-card";

body {
    @include mdc-theme-prop('background-color', $mdc-theme-background);
}

.main-grid {
    height: 100%;
    padding: 0;
}

.main-grid > .mdc-layout-grid__inner {
    height: 100%;
}

.mdc-drawer {
    width: 100%;
}

.mdc-drawer__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-bottom: 3rem;
}

#logo {
    @include mdc-theme-prop('color', $mdc-theme-primary);
    font-size: 2em;
    font-weight: bold;
}

.mdc-layout-grid__inner {
    height: 100%;
    overflow: auto;
}

.pedido-card {
    height: 100%;
}

.card-row {
    width: 100%;
    height: 60px;
}

.content-grid > .mdc-layout-grid__cell--span-1 {
    @include mdc-theme-prop('background-color', $mdc-theme-primary);
}